<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.installer.launchConfigurationType">
<booleanAttribute key="ATTR_MINIFY" value="true"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="Dorosh_Ian_Project1"/>
<stringAttribute key="ATTR_TITANIUM_DEPLOY_TYPE" value="development"/>
<stringAttribute key="appid" value="com.fullsail.demoApp"/>
<stringAttribute key="certificate" value="Ian Dorosh (4N46ED86YH)"/>
<stringAttribute key="debug_config" value="::1414768280127:192.168.56.1,192.168.29.164"/>
<stringAttribute key="debug_hosts" value="192.168.56.1,192.168.29.164"/>
<stringAttribute key="device_id" value="c9ff35c3c2603755c09182b502c0606bb15bd644"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Dorosh_Ian_Project1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="8.1"/>
<stringAttribute key="uuid" value="1df86472-1900-407f-8ace-df3a9e2d4475"/>
</launchConfiguration>
